{% extends "base.html.twig" %}

{% block title %}
{{ navTitle }}
{% endblock %}

{% block content %}



<nav class="panel pb-4">
    <p class="panel-heading">
        Création d'un groupe de tests
    </p>
    {{ form_start(form) }}

    {% block datalist_widget %}
    <div class="panel-block">
        <div class="field is-flex-grow-5">
            <p class="control has-icons-left">
                <label class="label" for="html-product-choice">Choisissez un
                    produit *</label>
                <input class="input select" list="products"
                    id="html-product-choice" name="product-choice"
                    placeholder="Search" required />

                <datalist id="products">
                    {% for product in products %}

                    <option
                        value="{{ product.getId() }} - {{ product.getName() }}" />
                    {% endfor %}

                </datalist>
            </p>
        </div>
    </div>
    {% endblock %}

    <div class="panel-block">
        <div class="field is-flex-grow-5">
            {{ form_label(form.name, 'Nom du groupe de tests *', {'label_attr':
            {'class': 'label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'control has-icons-left
            has-icons-right'}}) }}
        </div>
    </div>


    {{ form_end(form) }}

    {% endblock %}